.footer_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #000000;
    color: white;

    footer {
        max-width: 1568px;
        width: 100%;
        display: flex;
        justify-content: right;
        color: white;
        padding: 10px 0;

        .adress {
            margin: 32px 217px 0 0;
            span {
                margin: 0 0 0 22px;
                vertical-align: middle;

                font-family: PF Bague Sans Pro;
                font-size: 24px;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 0.05em;
                text-align: left;

            }
        }

        .footer_contacts {
            display: flex;
            flex-direction: column;
            align-items: flex-end;


            .phone_numbers {
                display: flex;
    
                .phone_icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
    
                .footer_numbers {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: left;
                    padding: 11px 0 0 0;
    
                    a {
                        color: white;
                        text-decoration: none;
                        margin: 0px 0 0 20px;

                        font-family: PF Bague Sans Pro;
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 32px;
                        letter-spacing: 0.05em;
                        text-align: left;

                    }
                }
            }

            .footer_logo {
                margin: 39px 0 0;
            }
        }
    }
}